# Hidden, backup, log files
*.*~
*~
*.log

# CMake related
CMake.vars
CMakeCache.txt
CMakeFiles/
CPackConfig.cmake
CPackSourceConfig.cmake
CTestTestfile.cmake
Makefile
cmake_install.cmake
config_real.cmake

# Linux object files
*.o
*.o.*
*.a
*.so
*.gz

# Pictures and data files
*.eps
*.gp
*.bmp
*.png
*.dat
*.vtk

# Windows / Visual Studio
*vcxproj*
*tlog
*.obj
*.sln
*.dll
*.ilk
*.pdb
*.lib
*.ncb
*.suo
Debug/
*.sdf

# KDevelop
*.kdev*

# Documentation generated
*.html
*.eps
*.js
*.tex
*.ps
*.pdf
*.aux
*.css
*.tag
*.sty
*.dvi
*.pyc

#JP
A-linear/01-mesh/A-01-mesh
A-linear/02-space/A-02-space
A-linear/03-poisson/A-03-poisson
A-linear/04-bc-dirichlet/A-04-bc-dirichlet
A-linear/05-bc-neumann/A-05-bc-neumann
A-linear/06-bc-newton/A-06-bc-newton
A-linear/07-general/A-07-general
A-linear/08-system/A-08-system
A-linear/09-axisym/A-09-axisym
A-linear/0X-ln-elast/A-10-linear_elasticity
B-nonlinear/01-picard/B-01-picard
B-nonlinear/02-newton-analytic/B-02-newton-analytic
B-nonlinear/03-newton-spline/B-03-newton-spline
C-transient/01-implicit-euler/C-01-implicit-euler
C-transient/02-runge-kutta/C-02-runge-kutta
C-transient/03-nonlinear/C-03-nonlinear
D-adaptivity/01-intro/D-01-intro
D-adaptivity/03-system/D-03-system
D-adaptivity/04-complex/D-04-complex
D-adaptivity/05-hcurl/D-05-hcurl
D-adaptivity/06-exact/D-06-exact
D-adaptivity/07-nonlinear/D-07-nonlinear
D-adaptivity/08-transient-space-only/D-08-transient-space-only
D-adaptivity/09-transient-time-only/D-09-transient-time-only
D-adaptivity/10-transient-space-and-time/D-10-transient-space-and-time
E-fvm-and-dg/01-linear-advection-dg/E-01-linear-advection-dg
E-fvm-and-dg/02-linear-advection-dg-adapt/E-02-linear-advection-dg-adapt
G-miscellaneous/01-nurbs-mesh/G-01-nurbs-mesh
G-miscellaneous/02-nurbs/G-02-nurbs
G-miscellaneous/03-space-hcurl/G-03-space-hcurl
G-miscellaneous/04-space-hdiv/G-04-space-hdiv
G-miscellaneous/05-space-l2/G-05-space-l2
